.ColorRow {
    display: flex;
    justify-content: center; /* or space-between, space-around, etc. */
    align-items: center; /* or stretch, flex-start, flex-end, etc. */
  }
  
.Color_button {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.Color_button.active {
  /* styles for active button */
  border: 2px solid white;
}